.profileSectionContainer {
  /* height: 85vh; */
  color: #ffffff;
  width: 250px;
  height: 150px;
  /* margin-bottom: 10px; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 45px;
}
.profileFilteration {
  width: 25vw;
  height: 90vh;
  padding: 50px 60px;
  word-wrap: break-word;
}
.successContainer {
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  background-size: cover;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 20px 20px 0px 10px;
  height: 200px;
  font-family: Roboto;
}
.profileIcon {
  height: 40px;
}
.profileName {
  font-size: 20px;
  color: #6366f1;
}
.profileBio {
  color: #2c364c;
}
.retryBtn {
  background-color: #4f46e5;
  padding: 10px 25px;
  border: none;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
}
