.logoutButton {
  background-color: #6366f1;
  color: #ffffff;
  padding: 7px 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.headerContainer {
  background-color: #272727;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  height: 8vh;
  width: 100vw;
  margin: 0px;
}
.headerText {
  display: flex;
  align-items: center;
}
.homeText,
.jobText {
  color: #ffffff;
  margin-right: 20px;
  cursor: pointer;
}
.homePageIcon {
  height: 50px;
  cursor: pointer;
}
