.allJobsContainer {
  display: flex;
  width: 100vw;
  /* height: 90vh; */
  padding: 40px;
}
.profileAndFilteration {
  width: 25vw;
  padding: 20px 40px;
}
.jobsHeaderAndEachJobs {
  width: 75vw;
}
.loader-container {
  width: 60vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.failureCaseDivContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  color: #ffffff;
}
.failureImage {
  height: 300px;
}
.noFoundContainer {
  color: #ffffff;
  width: 60vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.notFoundImage {
  height: 300px;
}
